* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  font-size: 45%;
}
body {
  background-color: #deb887;
  color: #433728;
  font-family: "Roboto";
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #8a2be2;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  max-width: 160rem;
  /* height: 200rem; */
  /* min-height: 100rem; */
  margin: 5rem auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: antiquewhite;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-bottom: 2.4rem;
  height: 10rem;
}

.header-logo {
  width: 24rem;
  /* border-radius: 10px; */
}
.search {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  gap: 2rem;
}

.search__field {
  border: none;
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.6rem;
  width: 30rem;
}
.search__btn {
  cursor: pointer;
  display: flex;
  align-content: center;
  border: none;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: blueviolet;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s;
}

.search__btn:hover,
.search__btn:active {
  background-color: #6e22b5;
}
.search-title {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.search-preview {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10rem;
  margin-bottom: 1rem;
}
.search-bar-container {
  /* min-height: 170rem; */
  height: 190rem;
  width: 51rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-bar {
  /* height: 250rem; */
  min-width: 38rem;
  margin-left: 1.2rem;
}
.search-results {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2.4rem;
}

.preview {
  display: flex;

  border-radius: 10px;
  justify-content: space-between;
  padding: 0rem;
  margin: 0;
}
.preview__link:link,
.preview__link:visited {
  display: flex;
  /* justify-content: space-between; */
  gap: 0rem;
  width: 50rem;
  height: 20rem;
  margin-left: 2rem;
  text-decoration: none;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 1px 10px 2px rgba(18, 18, 18, 0.2);
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s;
}
.preview__link:hover,
.preview__link:active {
  transform: scale(1.05);
  box-shadow: 0 2px 10px 2px rgba(18, 18, 18, 0.2);
}
.preview__link--active {
  transform: scale(1.07);
  /* filter: brightness(0.7) */
  filter: opacity(0.5);
  transition: all 0.3s;
}
.preview__link--active:hover,
.preview__link--active:active {
  transform: scale(1.09);
}

.search-img {
  width: 18rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 4;
}
.search-info {
  margin-left: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: center; */
}

.search-name {
  font-size: 4rem;
  color: #433728;
  position: relative;
  /* background-color: cadetblue; */
  z-index: 1;
}
.search-name::after {
  content: "";
  position: absolute;
  background-color: #dcbff6;
  height: 5rem;
  width: 35rem;
  top: 0;
  left: -1.3rem;
  z-index: -1;
}

.search-details {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
}
.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50rem;
  gap: 24rem;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}
.btn--inline {
  cursor: pointer;
  display: flex;
  align-content: center;
  border: none;
  gap: 0.8rem;
  padding: 1rem 2rem;
  background-color: blueviolet;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s;
}

.pagination span {
  align-self: center;
}
.btn--inline:hover,
.btn--inline:active {
  background-color: #6e22b5;
  /* transform: scale(1.01); */
}
.search__icon {
  height: 2.4rem;
  width: 2.4rem;
}

.pet-container {
  font-size: 4rem;
}
.message {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.pet-header {
  margin-bottom: 2.4rem;
}
.copyright {
  padding: 1rem;
  font-size: 1.6rem;
}

.detail-container {
  display: flex;
  margin-bottom: 8rem;
}
.gallery-main img {
  width: 40rem;
  height: 40rem;
  border-radius: 10px;
  object-fit: cover;
}
.gallery-main {
  position: relative;
  overflow: hidden;
}

.gallery-main-tag {
  display: none;
  position: absolute;
  top: 0%;
  left: 0;
  background-color: blueviolet;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
}
.gallery_thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 0rem;
}
.gallery-thumb {
  /* width: 0; */
  height: 10rem;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  transition: all 0.3s;
}

.gallery-thumb:hover,
.gallery-thumb:active {
  transform: scale(1.05);
  box-shadow: 0 2px 10px 2px rgba(18, 18, 18, 0.2);
}
.gallery-thumb img {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  object-fit: cover;
}

.gallery-thumb--selected {
  transform: scale(1.07);
  filter: opacity(0.5);
}
.gallery-thumb--selected:hover,
.gallery-thumb--selected:active {
  transform: scale(1.09);
}

.cta {
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
}

.cta-about {
  font-size: 5.2rem;
  margin-bottom: 1rem;
}

.cta-about-detail {
  font-size: 3rem;
  margin-bottom: 6rem;
  /* margin-left: 1rem; */
}

.btn-adopt {
  text-decoration: none;
  padding: 1.2rem 4.4rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: none;
  background-color: #8a2be2;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  transition: all 0.3s;
}
.btn-adopt:hover,
.btn-adopt:active {
  background-color: #6e22b5;
  cursor: pointer;
  /* transform: scale(1.01); */
}

.cta-contact {
  font-size: 1.8rem;
  color: #444;
}
.section-facts {
  max-width: 100rem;
}
.facts-title {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}
.facts {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 0rem;
  margin-bottom: 12rem;
  /* flex-direction: column; */
}
.facts-content-half {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.facts-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.facts-label {
  font-weight: 600;
  font-size: 2rem;
  width: 8rem;
}
.facts-info {
  font-size: 2rem;
}
.fact-check {
  width: 24px;
  height: 24px;
  display: none;
  background-color: rgb(134, 223, 134);
  color: #444;
  border-radius: 100px;
}
.fact-x {
  width: 24px;
  height: 24px;
  display: none;
  background-color: rgb(170, 28, 28);
  color: #fff;
  border-radius: 100px;
}
.fact-null {
  width: 24px;
  height: 24px;
  display: none;
  background-color: #999;
  border-radius: 100px;
}

.organization-details {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcf8f3;
  padding: 3rem 1rem;
  border-radius: 10px;
}
.org-title {
  font-size: 3.6rem;
  margin-bottom: 3.6rem;
  justify-self: center;
}
.org-title:first-child {
  margin-bottom: 0;
}
.org-content {
  display: flex;
  margin-bottom: 3rem;
  gap: 3rem;
  align-items: center;
}
.org-detail {
  font-size: 2.4rem;
}
.social-icons {
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  gap: 3rem;
}
.social-icon {
  color: #433728;
  cursor: pointer;
  transition: all 0.3s;
}
.social-icon:hover,
.social-icon:active {
  color: #6e22b5;
  transform: scale(1.2);
}
